#network {
    height: 100vh;
    width: 100vw;
    background-color: lavender;    
}

#filters {
    position: fixed;
    top: 2em;
    left: 2em;
    background-color: lightgray;
    z-index: 999;
    padding: 1em;
    border-radius: 1em;
}

#groups {
    position: fixed;
    top: 2em;
    right: 2em;
    background-color: lightgray;
    z-index: 999;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

#warning {
    color: darkred;
}

#gradient {
    height: 10em;
    width: 3em;
    background-image: linear-gradient(#666,#EEE);
    margin-left: auto;
    margin-right: auto;
    border: black;
    border-width: 2px;
    border-style: solid;
}